body {
    background-color: #0040ff;
    background-size: cover;
}

#title {
    text-align: center;
    font-family: sans-serif;
    color: blue;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: yellow 2px 3px 4px;
}

#logo {
    display: inline;
}

#menu ul {
    border-radius: 10px;
    background-color: darkgray;
    text-align: center;
    list-style-type: none;
}

#menu ul li {
    border-radius: 10px;

    color: yellow;
    display: inline-table;
    height: 40px;
    line-height: 40px;
    width: 200px;
}

#menu ul li a {
    border-radius: 10px;

    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: block;
}

#menu ul li:hover {
    border-radius: 10px;

    background: aqua;
}

#content {
    border-radius: 10px;

    font-family: sans-serif;
    background-image: url("https://st.quantrimang.com/photos/image/2019/03/02/HinhnenChelsea-640.jpg");
    background-size: cover;
    font-size: 20px;
    color: #00ff80;
}

#mytable {
    border-radius: 10px;
    background-color: white;
    font-family: sans-serif;
    color: black;
}
form{
    background: lightblue;
}